<h1> Hello! </h1>

<h2> Your lucky numbers are:
  <%= @lucky_numbers_1 %>,
  <%= @lucky_numbers_2 %>,
  <%= @lucky_numbers_3 %>,
  <%= @lucky_numbers_4 %>,
  <%= @lucky_numbers_5 %>
</h2>

<h2> Good luck! </h2>
